@import '../../variables/basic-variables';
@import '../../variables/mixins';

#navigation-wrapper{
  #left-container{
    #logo{
      margin-left: 10px;
    }

    #navigation{
      z-index: 2;
      display: none;
      position: absolute;
      top: 0;
      left: 0;	
      width: 100vh;
      height: 100vh;
      background-color: $bg-black;

      nav{
        background-color: $white;
        width: 170px;
        height: 100vh;
        padding: 30px;
        opacity: 1;

        #close-btn{
          margin-bottom: 45px;
        }

        div{
          flex-direction: column;
          row-gap: 25px;

          a{
            text-decoration: none;
            color: $black;
            @include text-style(16px, 700);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 70em){
  #navigation-wrapper{
    #left-container{
      #menu-btn, #close-btn{
        display: none;
      }
      #navigation{
        z-index: 0;
        display: inline-block;
        position: static;
        background-color: $white;
        width: auto;
        height: auto;

        nav{
          background-color: $white;
          width: auto;
          height: 100%;
          padding: 0;
          margin-left: 60px;

          div{
            flex-direction: row;
            column-gap: 35px;

            a{
              padding-block: 40px;
              color: $dark-grayish-blue;
              @include text-style(16px, 400);
              border-bottom: 3px solid $white;
              &:hover{
                color: $black;
                border-bottom: 3px solid orange;
              }
            }
          }
        }
      }
    }
  }
}