$font: 'Kumbh Sans', sans-serif;

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$bg-black: rgba(0, 0, 0, 0.75);

@mixin text-style($font-size, $font-weight){
  font-size: $font-size;
  font-weight: $font-weight; 
}

body{
  padding: 0;
  margin: 0;
  font-family: $font;
  background-color: $white;
  // position: relative;
}

figure, h1, h2, p, hr{
  margin: 0;
}

img{
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.space-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.cursor-pointer{
  cursor: pointer;
}

#navigation-wrapper{
  padding: 20px 25px;

  #left-container{
    #logo{
      margin-left: 10px;
    }

    #navigation{
      z-index: 2;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $bg-black;

      nav{
        background-color: $white;
        width: 170px;
        height: 100%;
        padding: 30px;
        opacity: 1;

        img{
          margin-bottom: 45px;
        }

        div{
          row-gap: 25px;

          a{
            text-decoration: none;
            color: $black;
            @include text-style(16px, 700);
            
          }
        }
      }
    }
  }

  #right-container{
    &>img{
      height: 20px;
    }

    #cart-container{
      z-index: 1;
      background-color: $white;
      position: absolute;
      top: 75px;
      left: 10px;
      right: 10px;
      height: 250px;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

      &.hidden{
        display: none;
      }

      h2{
        @include text-style(14px, 700);
        padding: 25px;
      }

      hr{
        background-color: $grayish-blue;
        height: 0.4px;
        border-width: 0;
      }
      
      #cart-product-container{
        flex: auto;
        padding: 25px;

        &>p{
          @include text-style(14px, 700);
          color: $dark-grayish-blue;
          text-align: center;
        }

        section{
          column-gap: 15px;

          .cart-product-thumbnail{
            width: 50px;
            border-radius: 5px;
          }

          .product-info{
            row-gap: 5px;
            p{
              @include text-style(15px, 400);
              color: $dark-grayish-blue;
            }

            .bold{
              color: $very-dark-blue;
              font-weight: 700;
            }
          }
        }

        #checkout-btn{
          background-color: $orange;
          border: none;
          border-radius: 10px;
          padding-block: 15px;
          color: $very-dark-blue;
          @include text-style(16px, 700);
          font-family: $font;
          margin-bottom: 5px;
        }
      }
    }

    .account-avatar{
      border-radius: 50%;
      height: 24px;
      margin-left: 15px;
    }
  }

  .icon-btn{
    height: 16px;
  }
}

main{
  .thumbnail-section{
    position: relative;
    height: 300px;
    overflow: hidden;

    #displayed-image{
      width: 100%;
      height: auto;
      object-position: 0 -35px;
    }

    .control-img-btn{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      border-radius: 50%;
      padding: 14px 17px;
      background-color: $white;
    }

    #previous-btn{
      left: 10px;
    }

    #next-btn{
      right: 10px;
    }

    #thumbnail-container{
      display: none;
    }
  }

  .product-section{
    padding: 25px;

    .product-detail-container{
      margin-bottom: 30px;
      .company{
        text-transform: uppercase;
        @include text-style(14px, 700);
        color: $dark-grayish-blue;
        letter-spacing: 1.2px;
        margin-bottom: 15px;
      }

      .product-name{
        @include text-style(30px, 700);
        color: $very-dark-blue;
        margin-bottom: 20px;
      }

      .product-description{
        @include text-style(15px, 400);
        color: $dark-grayish-blue;
        line-height: 1.75;
      }
    }

    .product-price{
      margin-bottom: 30px;

      .current-price{
        @include text-style(30px, 700);
        color: $very-dark-blue;

        .discount{
          @include text-style(16px, 700);
          background-color: $very-dark-blue;
          color: $white;
          border-radius: 5px;
          padding: 4px 10px;
          margin-left: 10px;
        }
      }

      .old-price{
        @include text-style(18px, 700);
        color: $dark-grayish-blue;
        text-decoration: line-through;
      }
    }

    #quantity-setting-container{
      background-color: $light-grayish-blue;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 20px 25px;
      
      img{
          width: 15px;
        }

      #current-quantity{
        @include text-style(18px, 700);
        color: $very-dark-blue;
      }
    }

    #add-to-cart-btn{
      width: 100%;
      background-color: $orange;
      border: none;
      border-radius: 10px;
      padding-block: 20px;
      color: $very-dark-blue;
      @include text-style(16px, 700);
      font-family: $font;
      box-shadow: 0 15px 30px rgba(255, 125, 26, 0.3);

      svg{
        fill: $very-dark-blue;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  main{
    .thumbnail-section{
      height: auto;

      &>img{
        object-position: initial;
      }

      #thumbnail-container{
        display: flex;
      }
    }
  }
}