@import './variables/basic-variables';
@import './variables/mixins';

@import './components/Navigation/navigation-section';
@import './components/Main/thumbnail-section';
@import './components/Main/product-section';
@import './components/Main/destop-lightbox-section';


body{
  padding: 0;
  margin: 0;
  background-color: $white;
  font-family: $font;
  background-color: $white;
  position: relative;
}

main{
  margin-top: 65px;
}

@media screen and (min-width: 32em) {
  main{
    .thumbnail-section{
      height: auto;

      &>img{
        object-position: initial;
      }
    }
  }
}

@media screen and (min-width: 70em) {
  body{
    display: flex;
  }

  main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 200px 200px 100px;
    column-gap: 90px;
  }
}