$font: 'Kumbh Sans', sans-serif;

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$bg-black: rgba(0, 0, 0, 0.75);
$hover-btn: rgba(255, 125, 26, 0.7);

@mixin text-style($font-size, $font-weight){
  font-size: $font-size;
  font-weight: $font-weight; 
}

body{
  padding: 0;
  margin: 0;
  background-color: $white;
  font-family: $font;
  background-color: $white;
  position: relative;
}

figure, h1, h2, p, hr{
  margin: 0;
}

img{
  box-sizing: border-box;
  object-fit: fill;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.space-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.cursor-pointer{
  cursor: pointer;
}

.hidden{
  display: none;
}

.thumbnail-hover{
  outline: 3px solid $orange;
            
  img{
    opacity: 0.5;
  }
}

#navigation-wrapper{
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 25px;
  z-index: 1;

  #left-container{
    #logo{
      margin-left: 10px;
    }

    #navigation{
      z-index: 2;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $bg-black;

      nav{
        background-color: $white;
        width: 170px;
        height: 100%;
        padding: 30px;
        opacity: 1;

        #close-btn{
          margin-bottom: 45px;
        }

        div{
          flex-direction: column;
          row-gap: 25px;

          a{
            text-decoration: none;
            color: $black;
            @include text-style(16px, 700);
            
          }
        }
      }
    }
  }

  #right-container{
    #cart-nav{
      position: relative;

      #cart-btn{
        height: 20px;
      }

      #cart-quantity{
        position: absolute;
        right: -7px;
        top: -6px;
        background-color: $orange;
        color: $white;
        @include text-style(9px, 400);
        padding: 1px 7px;
        border-radius: 12px;
      }

      &:hover{
        svg{
          path{
            fill: $black;
          }
        }
      }
    }

    #cart-container{
      z-index: 1;
      background-color: $white;
      position: absolute;
      top: 75px;
      left: 10px;
      right: 10px;
      height: 280px;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

      h2{
        @include text-style(14px, 700);
        padding: 25px;
      }

      hr{
        background-color: $grayish-blue;
        height: 0.4px;
        border-width: 0;
      }
      
      #cart-product-container{
        flex: auto;
        padding: 25px;

        &>p{
          @include text-style(14px, 700);
          color: $dark-grayish-blue;
          text-align: center;
        }

        section{
          column-gap: 15px;

          .cart-product-thumbnail{
            width: 50px;
            border-radius: 5px;
          }

          .product-info{
            row-gap: 5px;
            p{
              @include text-style(15px, 400);
              color: $dark-grayish-blue;
            }

            .bold{
              color: $very-dark-blue;
              font-weight: 700;
              margin-left: 5px;
            }
          }
        }

        #checkout-btn{
          background-color: $orange;
          border: none;
          border-radius: 10px;
          padding-block: 15px;
          color: $very-dark-blue;
          @include text-style(16px, 700);
          font-family: $font;
          margin-bottom: 5px;

          &:hover{
            background-color: $hover-btn;
          }
        }
      }
    }

    .account-avatar{
      border-radius: 50%;
      height: 26px;
      margin-left: 15px;

      &:hover{
        outline: 1px solid $orange;
      }
    }
  }

  .icon-btn{
    height: 16px;
  }
}

main{
  margin-top: 65px;

  .thumbnail-section{
    position: relative;
    height: 300px;
    overflow: hidden;

    #displayed-image{
      width: 100%;
      height: auto;
      object-position: 0 -35px;
    }

    .control-img-btn{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      border-radius: 50%;
      padding: 14px 17px;
      background-color: $white;
    }

    #previous-btn{
      left: 10px;
    }

    #next-btn{
      right: 10px;
    }

    #thumbnail-container{
      display: none;
    }
  }

  .product-section{
    padding: 25px;

    .product-detail-container{
      margin-bottom: 20px;
      .company{
        text-transform: uppercase;
        @include text-style(13px, 700);
        color: $dark-grayish-blue;
        letter-spacing: 1.2px;
        margin-bottom: 15px;
      }

      .product-name{
        @include text-style(28px, 700);
        color: $very-dark-blue;
        margin-bottom: 15px;
        line-height: 1.2;
      }

      .product-description{
        @include text-style(15px, 400);
        color: $dark-grayish-blue;
        line-height: 1.75;
      }
    }

    .product-price{
      margin-bottom: 25px;

      .current-price{
        @include text-style(28px, 700);
        color: $very-dark-blue;

        .discount{
          @include text-style(16px, 700);
          background-color: $very-dark-blue;
          color: $white;
          border-radius: 5px;
          padding: 4px 10px;
          margin-left: 10px;
        }
      }

      .old-price{
        @include text-style(18px, 700);
        color: $dark-grayish-blue;
        text-decoration: line-through;
      }
    }

    #quantity-setting-container{
      width: 100%;
      background-color: $light-grayish-blue;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 15px 25px;
      box-sizing: border-box;
      
      div{
        &:hover{
          svg{
          use{
            fill: $hover-btn;
          }
        }
        }
      }

      #current-quantity{
        @include text-style(18px, 700);
        color: $very-dark-blue;
      }
    }

    #add-to-cart-btn{
      width: 100%;
      background-color: $orange;
      border: none;
      border-radius: 10px;
      padding-block: 17px;
      color: $very-dark-blue;
      @include text-style(16px, 700);
      font-family: $font;
      box-shadow: 0 15px 30px rgba(255, 125, 26, 0.3);

      svg{
        fill: $very-dark-blue;
        margin-right: 10px;
      }

      &:hover{
        background-color: $hover-btn;
        box-shadow: none;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  main{
    .thumbnail-section{
      height: auto;

      &>img{
        object-position: initial;
      }

      #thumbnail-container{
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
  }

  #navigation-wrapper{
    padding: 20px 150px;

    #left-container{
      #menu-btn, #close-btn{
        display: none;
      }

      #navigation{
        z-index: 0;
        display: inline-block;
        position: static;
        background-color: $white;

        nav{
          background-color: $white;
          width: auto;
          padding: 0;
          margin-left: 60px;

          div{
            flex-direction: row;
            column-gap: 35px;

            a{
              color: $dark-grayish-blue;
              @include text-style(16px, 400);
            }
          }
        }
      }
    }

    #right-container{
      .account-avatar{
        border-radius: 50%;
        height: 40px;
        margin-left: 30px;
      }
    }
  }

  main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 200px;
    column-gap: 90px;

    .thumbnail-section{
      width: auto;
      height: auto;
      padding: 5px;
      
      #displayed-image{
        border-radius: 15px;
        object-position: initial;
      }

      .control-img-btn{
        display: none;
      }

      #thumbnail-container{
        margin-top: 25px;
        column-gap: 25px;
        
        figure{
          border-radius: 10px;
          cursor: pointer;

          img{
            width: 100%;
            height: 100%;
            border-radius: inherit;
          }
        }
      }
    }

    .product-section{
      padding: 70px 30px;

      .product-detail-container{
        .product-name{
          @include text-style(40px, 700);
          margin-bottom: 40px;
        }

      }

      .product-price{
        flex-direction: column;
        align-items: normal;
        row-gap: 10px;
        margin-bottom: 40px;

        .old-price{
          @include text-style(16px, 700);
        }
      }

      #quantity-setting-and-btn-wrapper{
        flex-direction: row;    
        #quantity-setting-container{
          flex: 1;
          margin: 0;
          margin-right: 10px;
        }
        #add-to-cart-btn{
          width: 70%;
          flex: 2;
        }
      }
    }
  }
}