figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

#navigation-wrapper #left-container #logo {
  margin-left: 10px;
}
#navigation-wrapper #left-container #navigation {
  z-index: 2;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
#navigation-wrapper #left-container #navigation nav {
  background-color: hsl(0, 0%, 100%);
  width: 170px;
  height: 100%;
  padding: 30px;
  opacity: 1;
}
#navigation-wrapper #left-container #navigation nav #close-btn {
  margin-bottom: 45px;
}
#navigation-wrapper #left-container #navigation nav div {
  flex-direction: column;
  row-gap: 25px;
}
#navigation-wrapper #left-container #navigation nav div a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 1100px) {
  #navigation-wrapper #left-container #menu-btn, #navigation-wrapper #left-container #close-btn {
    display: none;
  }
  #navigation-wrapper #left-container #navigation {
    z-index: 0;
    display: inline-block;
    position: static;
    background-color: hsl(0, 0%, 100%);
  }
  #navigation-wrapper #left-container #navigation nav {
    background-color: hsl(0, 0%, 100%);
    width: auto;
    padding: 0;
    margin-left: 60px;
  }
  #navigation-wrapper #left-container #navigation nav div {
    flex-direction: row;
    column-gap: 35px;
  }
  #navigation-wrapper #left-container #navigation nav div a {
    padding-block: 40px;
    color: hsl(219, 9%, 45%);
    font-size: 16px;
    font-weight: 400;
    border-bottom: 3px solid hsl(0, 0%, 100%);
  }
  #navigation-wrapper #left-container #navigation nav div a:hover {
    color: hsl(0, 0%, 0%);
    border-bottom: 3px solid orange;
  }
}
figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

#navigation-wrapper #right-container #cart-nav {
  position: relative;
}
#navigation-wrapper #right-container #cart-nav #cart-btn {
  height: 20px;
}
#navigation-wrapper #right-container #cart-nav #cart-quantity {
  position: absolute;
  right: -7px;
  top: -6px;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  font-size: 9px;
  font-weight: 400;
  padding: 1px 7px;
  border-radius: 12px;
}
#navigation-wrapper #right-container #cart-nav:hover svg path {
  fill: hsl(0, 0%, 0%);
}
#navigation-wrapper #right-container #cart-container {
  z-index: 1;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 75px;
  left: 10px;
  right: 10px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
#navigation-wrapper #right-container #cart-container h2 {
  font-size: 14px;
  font-weight: 700;
  padding: 25px;
}
#navigation-wrapper #right-container #cart-container hr {
  background-color: hsl(220, 14%, 75%);
  height: 0.4px;
  border-width: 0;
}
#navigation-wrapper #right-container #cart-container #cart-product-container {
  flex: auto;
  padding: 25px;
  row-gap: 15px;
}
#navigation-wrapper #right-container #cart-container #cart-product-container > p {
  font-size: 14px;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  text-align: center;
}
#navigation-wrapper #right-container #cart-container #cart-product-container section {
  column-gap: 15px;
}
#navigation-wrapper #right-container #cart-container #cart-product-container section .cart-product-thumbnail {
  width: 50px;
  border-radius: 5px;
}
#navigation-wrapper #right-container #cart-container #cart-product-container section .product-info {
  row-gap: 5px;
}
#navigation-wrapper #right-container #cart-container #cart-product-container section .product-info p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}
#navigation-wrapper #right-container #cart-container #cart-product-container section .product-info .bold {
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  margin-left: 5px;
}
#navigation-wrapper #right-container #cart-container #cart-product-container #checkout-btn {
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 10px;
  padding-block: 15px;
  color: hsl(220, 13%, 13%);
  font-size: 16px;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
}
#navigation-wrapper #right-container #cart-container #cart-product-container #checkout-btn:hover {
  background-color: rgba(255, 125, 26, 0.7);
}
#navigation-wrapper #right-container .account-avatar {
  border-radius: 50%;
  height: 26px;
  margin-left: 15px;
}
#navigation-wrapper #right-container .account-avatar:hover {
  outline: 1px solid hsl(26, 100%, 55%);
}

@media screen and (min-width: 1100px) {
  #navigation-wrapper #right-container {
    position: relative;
  }
  #navigation-wrapper #right-container #cart-container {
    z-index: 1;
    position: absolute;
    top: 60px;
    left: initial;
    right: -100px;
    height: 250px;
    width: 330px;
  }
  #navigation-wrapper #right-container .account-avatar {
    border-radius: 50%;
    height: 40px;
    margin-left: 30px;
  }
}
#navigation-wrapper {
  background-color: hsl(0, 0%, 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 25px;
  z-index: 1;
}
#navigation-wrapper .icon-btn {
  height: 16px;
}

@media screen and (min-width: 1100px) {
  #navigation-wrapper {
    padding: 0;
    inset-inline: 150px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
}
figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.thumbnail-active {
  outline: 3px solid hsl(26, 100%, 55%);
}
.thumbnail-active img {
  opacity: 0.5;
}

main .thumbnail-section {
  position: relative;
  height: 300px;
  overflow: hidden;
}
main .thumbnail-section #displayed-image {
  width: 100%;
  height: auto;
  object-position: 0 -35px;
}
main .thumbnail-section .control-img-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  padding: 14px 17px;
  background-color: hsl(0, 0%, 100%);
}
main .thumbnail-section #previous-btn {
  left: 10px;
}
main .thumbnail-section #next-btn {
  right: 10px;
}
main .thumbnail-section #thumbnail-container {
  display: none;
}

@media screen and (min-width: 500px) {
  main .thumbnail-section {
    height: auto;
  }
  main .thumbnail-section > img {
    object-position: initial;
  }
}
@media screen and (min-width: 1100px) {
  main .thumbnail-section {
    width: auto;
    height: auto;
    padding: 5px;
  }
  main .thumbnail-section #displayed-image {
    border-radius: 15px;
    object-position: initial;
    width: auto;
    height: auto;
  }
  main .thumbnail-section .control-img-btn {
    display: none;
  }
  main .thumbnail-section #thumbnail-container {
    display: flex;
    margin-top: 25px;
    column-gap: 25px;
  }
  main .thumbnail-section #thumbnail-container figure {
    border-radius: 10px;
    cursor: pointer;
  }
  main .thumbnail-section #thumbnail-container figure img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  main .thumbnail-section #thumbnail-container figure:hover img {
    opacity: 0.6;
  }
}
figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

figure, h1, h2, p, hr {
  margin: 0;
}

img {
  box-sizing: border-box;
  object-fit: fill;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

main .product-section {
  padding: 25px;
}
main .product-section .product-detail-container {
  margin-bottom: 20px;
}
main .product-section .product-detail-container .company {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}
main .product-section .product-detail-container .product-name {
  font-size: 28px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-bottom: 15px;
  line-height: 1.2;
}
main .product-section .product-detail-container .product-description {
  font-size: 15px;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
  line-height: 1.75;
}
main .product-section .product-price {
  margin-bottom: 25px;
}
main .product-section .product-price .current-price {
  font-size: 28px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
main .product-section .product-price .current-price .discount {
  font-size: 16px;
  font-weight: 700;
  background-color: hsl(220, 13%, 13%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 4px 10px;
  margin-left: 10px;
}
main .product-section .product-price .old-price {
  font-size: 18px;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}
main .product-section #quantity-setting-container {
  width: 100%;
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px 25px;
  box-sizing: border-box;
}
main .product-section #quantity-setting-container div:hover svg use {
  fill: rgba(255, 125, 26, 0.7);
}
main .product-section #quantity-setting-container #current-quantity {
  font-size: 18px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
main .product-section #add-to-cart-btn {
  width: 100%;
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 10px;
  padding-block: 17px;
  color: hsl(220, 13%, 13%);
  font-size: 16px;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  box-shadow: 0 15px 30px rgba(255, 125, 26, 0.3);
}
main .product-section #add-to-cart-btn svg {
  fill: hsl(220, 13%, 13%);
  margin-right: 10px;
}
main .product-section #add-to-cart-btn:hover {
  background-color: rgba(255, 125, 26, 0.7);
  box-shadow: none;
}

@media screen and (min-width: 1100px) {
  main .product-section {
    padding: 70px 30px;
  }
  main .product-section .product-detail-container .product-name {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  main .product-section .product-price {
    flex-direction: column;
    align-items: normal;
    row-gap: 10px;
    margin-bottom: 40px;
  }
  main .product-section .product-price .old-price {
    font-size: 16px;
    font-weight: 700;
  }
  main .product-section #quantity-setting-and-btn-wrapper {
    flex-direction: row;
  }
  main .product-section #quantity-setting-and-btn-wrapper #quantity-setting-container {
    flex: 1;
    margin: 0;
    margin-right: 10px;
  }
  main .product-section #quantity-setting-and-btn-wrapper #add-to-cart-btn {
    width: 70%;
    flex: 2;
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 100%);
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(0, 0%, 100%);
  position: relative;
}

main {
  margin-top: 65px;
}
main .lightbox {
  display: none;
}

@media screen and (min-width: 500px) {
  main .thumbnail-section {
    height: auto;
  }
  main .thumbnail-section > img {
    object-position: initial;
  }
}
@media screen and (min-width: 1100px) {
  body {
    display: flex;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 200px 200px 100px;
    column-gap: 90px;
  }
  main .lightbox {
    position: absolute;
  }
}/*# sourceMappingURL=styles.css.map */